@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: black;
  color: #fff;
  height: 100vh;
}

/* basic styling */
img {
  max-width: 100%;
}

ul {
  list-style: none;
}

.wrapper {
  max-width: 1500px;
  margin: 0 auto;
  height: 100%;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  height: 100%;
}

/* Set background colours for each section. */
.navbar .wrapper,
.header .wrapper,
footer .wrapper {
  background-color: #1F2937;
}

.information .wrapper {
  background-color: rgb(247, 248, 248);
}

.quote .wrapper {
  background-color: #e5e7eb;
}

.action .wrapper {
  background-color: rgb(247, 248, 248);
}

/* navbar styles */
.nav {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar a {
  list-style: none;
  text-decoration:none;
  color: #e5e7eb;
  font-size: 18px;
  margin-left: 20px;
}

.navbar .logo {
  font-size: x-large;
  font-weight:bold;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* header styles */ 
.header {
  height: 500px;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;

}.header .image {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 450px;
  height: 250px;
  background-color: gray;
  text-align: center;
}

.header .box {
  width:450px;
}
.header h1 {
  font-size: 48px;  
  font-weight:bolder;
  color: #F9faf8;
}

.header p {
  padding: 10px 0;
  color: #e5e7eb;
  font-size: 18px;
}

.button {
  width: 130px;
  height: 40px;
  background-color: #3882F6;
  border: none;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 5px;
  font-weight: bold;
}

/* Information section styles */

.information {
  text-align: center;
}

.information .card {
  width: 180px;
}

.information h2 {
  color: #1F2937;
  font-size: 36px;
  font-weight: bolder;
  padding: 50px 0px;
}

.information .container {
  color: #1F2937;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-bottom: 80px;
}

.information .imagebox {
 border: 4px solid #3882F6;
 border-radius: 10px;
 width: 180px;
 height: 180px;
}

.information p {
  padding-top: 10px;
}

/* Quote section styling */

.quote {
  height: 400px;
}

.quote .container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.quote h2 {
  color:#1F2937;
  font-size: 36px;
  font-weight: lighter;
  font-style: italic;
}

.quotetext {
 width: 640px;
}

.quotetext p {
  color:#1F2937;
  text-align: end;
  font-weight:bolder;
  font-size: 20px;
}

/* Call to action styling */

.action {
  height: 400px;
  color: black;
}

.action .container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.action .box {
  background-color: #3882F6;
  border-radius: 10px;
  width: 900px;
  height: 150px;
  display: flex;
  justify-content:space-around;
  align-items: center;
}

.box-text {
  color:#e5e7eb;
}

.box-text h3 {
  font-size: 24px;
}

.action .button {
  border: 2px solid #e5e7eb;
}

/* footer styling */

footer {
  height: 100px;
}

footer .container {
  display: flex;
  justify-content: center;
  align-items: center;
}



