@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: black;
  color: #fff;
  height: 100vh;
}

/* basic styling */
img {
  max-width: 100%;
}

ul {
  list-style: none;
}

.container {
  max-width: 1500px;
  margin: 0 auto;
  height: 100%;
}


/* navbar only */
.nav {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar a {
  list-style: none;
  text-decoration:none;
  color: #e5e7eb;
  font-size: 18px;
  margin-left: 20px;
}

.navbar .logo {
  font-size: x-large;
  font-weight:bold;
}

/* header only */ 
.header {
  height: 500px;
}

.header .container {
  display: flex;
  justify-content:space-around;
  align-items: center;
}

/* rules for each section */
.navbar .container,
.header .container,
footer .container {
  background-color: #1F2937;
}

.information .container {
  background-color: rgb(247, 248, 248);
}

.quote .container {
  background-color: #e5e7eb;
}

.navbar .container {
  display: flex;
  justify-content:space-around;
  align-items: center;
}