@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: black;
  color: #fff;
  height: 100vh;
}

/* basic styling */
img {
  max-width: 100%;
}

ul {
  list-style: none;
}

.wrapper {
  max-width: 1500px;
  margin: 0 auto;
  height: 100%;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  height: 100%;
}


/* navbar only */
.nav {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar a {
  list-style: none;
  text-decoration:none;
  color: #e5e7eb;
  font-size: 18px;
  margin-left: 20px;
}

.navbar .logo {
  font-size: x-large;
  font-weight:bold;
}

/* header only */ 
.header {
  height: 500px;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;

}.header .image {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 450px;
  height: 250px;
  background-color: gray;
  text-align: center;
}

.header .box {
  width:450px;
}

.header h1 {
  font-size: 48px;  
  font-weight:bolder;
  color: #F9faf8;
}

.header p {
  padding: 10px 0;
  color: #e5e7eb;
  font-size: 18px;
}

.header .button {
  widtH: 130px;
  background-color: #3882F6;
  border: none;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 5px;
  font-weight: bold;
}

/* rules for each section */
.navbar .wrapper,
.header .wrapper,
footer .wrapper {
  background-color: #1F2937;
}

.information .wrapper {
  background-color: rgb(247, 248, 248);
}

.quote .wrapper {
  background-color: #e5e7eb;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}